{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'result' %}">
        <div class="input-group">
            <div class="form-floating">
                <input
                    type="text"
                    class="form-control"
                    id="data"
                    name="data"
                >
                <label for="data" class="form-label">Data</label>
            </div>
            <div class="form-floating">
                <input
                    type="text"
                    class="form-control"
                    id="remainder"
                    name="remainder"
                >
                <label for="remainder" class="form-label">Remainder</label>
            </div>
        </div>
        <div class="form-floating">
            <input
                    type="text"
                    class="form-control"
                    id="polynomial-code"
                    name="polynomial-code"
            >
            <label for="polynomial-code" class="form-label">Polynomial Code</label>
        </div>
        <button type="submit" class="w-100 mt-3 btn btn-primary">Calculate</button>
    </form>
{% endblock %}
